@use '../abstracts' as a;

.onlyMobile{
  display: none;
}

.column{
  display: flex;
  flex-flow: column;
}

@media only screen and (max-width:1200px){
  .noTablet{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
.onlyMobile{
  display: block;
}
.noMobile{
  display: none;
}
.noTablet{
  display: block;
}
}

.fnd-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 5px;
  // background: a.$black;
  font-family: "Montserrat", sans-serif;
  // box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  text-decoration: none !important;
  text-transform: uppercase;
  

}

.fnd-button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: a.$lightblue;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  text-decoration: none !important;

}

.fnd-button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.fnd-button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: a.$black;
  font-weight: 600;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.mobileMenu{
  ul li .fnd-button span{
    font-size: .75rem;
  }
}

.fnd-button:hover span {
  color: a.$white;
  animation: scaleUp 0.3s ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


@media only screen and (max-width: 768px) {

  .fnd-button span {
    padding: 12px 15px;

    letter-spacing: auto;
    
    transition: all 0.3s ease-in-out;
  }
  
}